      <div  id='<%= "recent_#{committer.id}" %>' class="tab-pane active">
        <table class="table table-striped table-bordered table-condensed" >
            <thead> 
              <th>Date</th> 
              <th>Time</th>
              <th>Total Commits</th>
              <th>Avg. Files Touched</th>
              <th>Avg. Additions</th>
              <th>Avg. Deletions</th>
              <th>Avg. LOC Touched</th>
              <th>Max. Commit Size</th>
            </thead>
            <% snapshots.each do |snapshot| %>
            <tr>

              <td><%= mmddyy(snapshot.created_at) %></td>
              <td><%= tod(snapshot.created_at) %></td>
              <td><%= snapshot.commit_count%> </td>
              <td><%= snapshot.files_touched%> </td>
              <td><%= snapshot.additions%> </td>
              <td><%= snapshot.deletions%> </td>
              <td><%= snapshot.loc_touched%> </td>
              <td><%= snapshot.max_commit_size%> </td>
             
            </tr>
            <tr>
                <td colspan='8'>
                <div  class="accordion" 
                      id='<%= snapshot_message_accordian_id(snapshot) %>' >
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a  class="accordion-toggle" 
                            data-toggle="collapse" 
                            data-parent="#<%= snapshot_message_accordian_id(snapshot) %>" 
                            href="#<%= snapshot_message_table_id(snapshot) %>" >
                        Messages
                      </a>
                    </div>
                    <div id="<%= snapshot_message_table_id(snapshot) %>" 
                        class="accordion-body collapse">
                      <div class="accordion-inner">
                          <table class='table table-condensed table-striped' >
                            <% snapshot.messages.each do |m| %>
                              <tr><td><%= m.sha %></td><td><%=  message_massage(m.text) %></td></tr>
                              <% end %>
                          </table>
                      </div>
                    </div>
                  </div>
                </div>
                </td>
            </tr>
            <% end %>
        </table>
     
      </div>